



.myimg {
  position: relative;
  z-index: 10;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.myimg::before, .myimg::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 323 !important;
}



.myimg::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 5px solid transparent;
  z-index: 2565656;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





