/* Container for the image with styles */
.myimg {
  position: relative;
  z-index: 10;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
}






@media (min-width: 376px) {
  .myimg {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .myimg {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 992px) {
  .myimg {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .myimg {
    width: 350px;
    height: 350px;
  }
}
