/* contact */
.contact span,.contact i{
    color: var(--main-color) ;
  }
  .contact a{
    transition: all .3s;
  }
  .contact a:hover {
  background-color: var(--main-color) !important;
  }
  
  .contact .rounded-circle{
    width: 40px;
    height: 40px;
  background-color: #2e2d2d;
  color: white;
  }
  
  .contact .form-control{
    background-color: #2e2d2d !important;
    -webkit-text-fill-color: #868484 !important;
    border: 1px solid #2e2d2d !important;
    box-shadow: none !important;
    color: white !important;
    
  }
  .contact .form-control:focus{
    border: 1px solid var(--main-color) !important;
  
  }
  
  
  /*fayyad btn */
  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    /* --main-color: #0f88fa; */
    
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 30px;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--main-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--main-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--main-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--main-color))
  }
  /*  */
  
  .myimgdiv{
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    overflow: hidden;
    filter: blur(100px);
  }
  .myimg img{
    filter: drop-shadow(0px 0px 50px rgb(165, 194, 235));
  
  }
  .myimg{
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    overflow: hidden;
  }
.ContactEmail{
  word-break: break-word;
}
 













