/* Skill */
.skill-span,
.proj-span {
  color: var(--main-color);
}

.skills .border {
  transition: all 0.3s;
}

.skills .border:hover {
  transform: scale(1.1);
}

/* Hover effect */
.skills .border:hover img {
  filter: brightness(80%);
}

.skills h2 {
  margin-top: 10px;
}

/* Projects */
.projects .rounded-2 {
  overflow: hidden;
}

.projects .rounded-3 {
  border: 2px solid var(--main-color);
}

.projects .layer {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0%;
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
}

.projects .layer:hover {
  opacity: 1;
  top: 0;
}

.codeBtn {
  background-color: var(--main-color) !important;
  transition: all 0.3s;
  border: 1px solid var(--main-color) !important;
}

.codeBtn:hover {
  background-color: transparent !important;
}

.demoBtn {
  border: 1px solid var(--main-color) !important;
  transition: all 0.3s;
}

.demoBtn:hover {
  border: 1px solid var(--main-color) !important;
  background-color: var(--main-color) !important;
}
